<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>欢迎来到 伪·蒸汽动力</title>
</head>
<body>
<div class="container-fluid pl-0 pr-0" style="background: #1b2838;">
    <!--        头-->
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <a class="navbar-brand" href="/index" style="line-height: 44px;">
            <img src="/header_logo.png" width="176" height="44" class="d-inline-block align-top" alt=""
                 loading="lazy">
            伪·蒸汽动力
        </a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" HREF="/index">
                    商店
                </a>
            </li>
            <!--            <li class="nav-item">-->
            <!--                <a class="nav-link" HREF="/repository">-->
            <!--                    库-->
            <!--                </a>-->
            <!--            </li>-->
            <!--            <li class="nav-item">-->
            <!--                <a class="nav-link" HREF="/home">-->
            <!--                    个人资料-->
            <!--                </a>-->
            <!--            </li>-->
        </ul>
        <form class="form-inline" action="/search">
            <input class="form-control mr-sm-2 bg-light" name="keyword" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>

    <div style="max-width:1060px; margin: auto;" class="pt-3">
        <!--            滚动横幅 ：随即选3个幸运游戏，将其放在这儿-->
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" style="margin-bottom: 20px">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div th:class="'carousel-item'+${var.first?' active':''}" th:each="item, var:${navs}">
                    <img th:src="${item.mainImg}+'/0.jpg'" class="d-block w-100" alt="...">
                </div>

            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <!--            精品推荐部分-->
        <div class="card text-center">
            <div class="card-header bg-dark">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active text-light" href="#"
                           style="background: #042035;border-color: #042035;">最新发布</a>
                    </li>
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link  text-light" href="#">热销游戏</a>-->
<!--                    </li>-->
                </ul>
            </div>
            <div class="card-body" style="background: #042035">
                <!--                    内容-->

                <div class="card mb-3 w-100 text-white bg-dark mb-3" th:each="item:${games}">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img th:src="${item.mainImg}+'/0.jpg'" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h4 class="card-title" th:text="${item.name}">游戏名字</h4>
                                <p class="card-text" th:text="${#strings.abbreviate(item.summary,42)}">这个部分放简介。不超过xx字那种</p>
                                <a th:href="'/info/'+${item.gid}">
                                    <button type="button" class="btn btn-secondary">商品详情页</button>
                                </a>
                                <a th:href="'/addToCart/'+${item.gid}">
                                    <button type="button" class="btn btn-light">加入购物车</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div style="height: 30px"></div>
    <footer class="text-light bg-dark">
        <div style="max-width:1060px; margin: auto;" class="pt-5 pb-5">
            Powered by TypeAlpha, Kirin, Komachi<br>
            <a class="text-light" href="/manage">管理入口</a>
        </div>
    </footer>
</div>
</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

</html>