<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title th:text="'在 伪·蒸汽动力 上购买'+${game.name}"></title>
</head>
<body>
<div class="container-fluid pl-0 pr-0" style="background: #1b2838;">
    <!--        头-->
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <a class="navbar-brand" href="#" style="line-height: 44px;">
            <img src="../static/header_logo.png" width="176" height="44" class="d-inline-block align-top" alt=""
                 loading="lazy">
            伪·蒸汽动力
        </a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" HREF="#">
                    商店
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" HREF="#">
                    库
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" HREF="#">
                    个人资料
                </a>
            </li>
        </ul>
        <form class="form-inline">
            <input class="form-control mr-sm-2 bg-light" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
    <div style="max-width:1060px; margin: auto;" class="pt-3">
        <h2 class="pt-3 text-light" th:text="${game.name}"></h2>
        <!--            滚动横幅-->
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" style="margin-bottom: 20px">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active" >
                    <img th:src="'/'+${game.mainImg}+'/1.jpg'" class="d-block w-100" alt="...">

                </div>
                <div class="carousel-item">
                    <img th:src="'/'+${game.mainImg}+'/2.jpg'" class="d-block w-100" alt="...">

                </div>
                <div class="carousel-item">
                    <img th:src="'/'+${game.mainImg}+'/3.jpg'"class="d-block w-100" alt="...">

                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="container-fluid row m-0">

            <div class="col-4 card bg-dark text-light" style="width: 18rem;">
                <img th:src="'/'+${game.mainImg}+'/0.jpg'" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" th:text="${game.name}"></h5>
                    <p class="card-text" th:text="${game.summary}"></p>
                </div>
            </div>

            <div class="col-8 ">
                <div class="card bg-dark text-light">
                    <div class="card-body">
                        <h4 class="card-title" th:text="'购买 '+${game.name}"></h4>
                        <p class="card-text" th:text="'现在购买立即省下'+${game.discount}+'%'"></p>
                        <div class="d-flex justify-content-end">
                            <div style="display: inline-block; height: 40px; width: 60px; text-align: center; line-height: 40px; color: #8bc53f; background: #4c6b22; font-size: 20px" th:text="'-'+${game.discount}+'%'"></div>
                            <h5 style="line-height: 38px; text-align: center;margin-bottom: 0;padding-left: 10px;padding-right: 10px;">
                                <div style="text-decoration: line-through; display: inline-block;color:gray;" th:text="'$'+${game.price/100.0}"></div>
                            </h5>
                            <h5 style="line-height: 38px; text-align: center;margin-bottom: 0;padding-left: 10px;padding-right: 10px;">
                                <div th:text="'$'+${(game.price * ((100 - game.discount)/100.0) )/100.0}"></div>
                            </h5>
                            <a href="#" class="btn btn-light ">添加至购物车</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div style="height: 30px"></div>
    <footer class="text-light bg-dark">
        <div style="max-width:1060px; margin: auto;" class="pt-5 pb-5">
        Powered by TypeAlpha, Kirin, Komachi
        </div>
    </footer>
</div>
</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

</html>